Makefile.config.local
main.o
portris_atmos.tap
portris_apple2.bin
portris_apple2.sys
portris_apple2.dsk
portris_apple2enh.bin
portris_apple2enh.sys
portris_apple2enh.dsk
portris_atari.xex
portris_atari.atr
portris_atarixl.atr
portris_atarixl.xex
portris_c128.bin
portris_c128.prg
portris_c128_vdc.bin
portris_c128_vdc.prg
portris_c16.bin
portris_c16.prg
portris_c16exp.bin
portris_c16exp.prg
portris_c64.bin
portris_c64.prg
portris_c64_80x25.bin
portris_c64_80x25.prg
portris_c64_80x25m.bin
portris_c64_80x25m.prg
portris_cbm510.prg
portris_cbm610.prg
portris_geos.cvt
portris_nes.nes
portris_pcengine.bin
portris_pcengine.pce
portris_pet.prg
portris_plus4.bin
portris_plus4.prg
portris_vic20.bin
portris_vic20.prg
loader.prg
geos.d64
portris.d64
